p{
    background-color: blue;
    color: black;
    font-size: 30px;
    font-style: italic;
}
h1{
    background-color: yellow;
    color: black;
}
h2{
    background-color: yellow;
    color: red;
}
